<div class="container mt-5">
  <h1 class="text-center">Dashboard</h1>
  <%= render 'admin/nav_links' %>
  <%= render partial: "admin/daily_messages" %>
  <%= render partial: "admin/daily_visits" %>
</div>
