<div class="container">
  <h1 class="text-center">Adminstrator</h1>
  <%= render 'admin/nav_links' %>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Message</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      <% @messages.each do |message| %>
        <tr>
          <th scope="row"><%= message.id %></th>
          <td><%= link_to message.body.truncate(15), admin_message_path(message) %></td>
          <td><%= message.user.username %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
